<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href=" https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div id="header-container">
        <h1>DogMash</h1>
    </div>

    <div id="subheader-container">
        <h2>Which dog's better? Click to choose.</h2>
    </div>

    <div id="dog-table-container">
        <table id="dog-table">
            <tr>
                <td id="rank1">Rank: {{ dog1.rank }}</td>
                <td></td>
                <td id="rank2">Rank: {{ dog2.rank }}</td>
            </tr>
            <tr>
                <td id="rating1">Rating: {{ dog1.rating }}</td>
                <td></td>
                <td id="rating2">Rating: {{ dog2.rating }}</td>
            </tr>
            <tr id="dogs">
                <td id="dog1"><img src="{{ url_for('dog_image', filename=dog1.file_name) }}"></td>
                <td id="vs">vs</td>
                <td id="dog2"><img src="{{ url_for('dog_image', filename=dog2.file_name) }}"></td>
            </tr>
        </table>
    </div>
</body>

</html>
