<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateratings.js') }}"></script>
    <title>Dogmash</title>
</head>

<body>
    <div id="header-container">
        <h1>dogmash</h1>
    </div>

    <div id="subheader-container">
        <h2>Which dog's better? Click to choose.</h2>
    </div>

    <div id="dog-table-container">
        <table id="dog-table">
            <tr>
                <td><span class="rank-container">Rank: <span class="rank" id="rank1">{{ dog1.rank }}</span> <span class="change"
                            id="rank-change1"></span></span></td>
                <td></td>
                <td><span class="rank-container">Rank: <span class="rank" id="rank2">{{ dog2.rank }}</span> <span class="change"
                            id="rank-change2"></span></span></td>
            </tr>
            <tr>
                <td><span class="rating-container">Rating: <span class="rating" id="rating1">{{ dog1.rating }}</span>
                        <span class="change" id="rating-change1"></span></span></td>
                <td></td>
                <td><span class="rating-container">Rating: <span class="rating" id="rating2">{{ dog2.rating }}</span>
                        <span class="change" id="rating-change2"></span></span></td>
            </tr>
            <tr>
                <td><img src="{{ url_for('dog_image', filename=dog1.file_name) }}" class="dog" id="{{ dog1.id }}"></td>
                <td id="vs">vs</td>
                <td><img src="{{ url_for('dog_image', filename=dog2.file_name) }}" class="dog" id="{{ dog2.id }}"></td>
            </tr>
        </table>
    </div>
</body>

</html>
