<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div id="header-container">
        <h1>DogMash</h1>
    </div>

    <div id="subheader-container">
        <h2>Which dog's better? Click to choose.</h2>
    </div>

    <div id="dog-table-container">
        <table id="dog-table">
            <tr>
                <td id="rank1">Rank: 1</td>
                <td></td>
                <td id="rank2">Rank: 5</td>
            </tr>
            <tr>
                <td id="rating1">Rating: 1241</td>
                <td></td>
                <td id="rating2">Rating: 944</td>
            </tr>
            <tr id="dogs">
                <td id="dog1"><img src="../static/images/dogs/dog1.jpg"></td>
                <td id="vs">vs</td>
                <td id="dog2"><img src="../static/images/dogs/dog2.jpg"></td>
            </tr>
        </table>
    </div>
</body>

</html>
