@font-face {
    font-family: Klavika;
    src: url('fonts/Klavika Bold.otf');
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin: 0;
}

#header-container {
    text-align: center;
    background-color: #7e170e;
    width: 100vw;
}

#header-container h1 {
    font-family: 'Klavika';
    color: #ffffff;
}

#subheader-container {
    text-align: center;
}

#dog-table-container {
    display: flex;
    justify-content: center;
}

#dog-table {
    text-align: center;
}

.change {
    display: none;
}

img.dog {
    cursor: pointer;
}

.winner {
    color: #228b22;
}

.loser {
    color: #d22424;
}

@media (orientation: portrait) {
    * {
        font-size: 3vw;
    }

    #header-container h1 {
        font-size: 12vw;
    }

    #subheader-container h2 {
        font-size: 5vw;
    }

    img.dog {
        width: 43vw;
    }

    #vs {
        padding: 1vw;
        font-size: 4vw;
    }

}

@media (orientation: landscape) {
    * {
        font-size: 3vh;
    }

    #header-container h1 {
        font-size: 12vh;
    }

    #subheader-container h2 {
        font-size: 5vh;
    }


    img.dog {
        width: 43vh;
    }

    #vs {
        padding: 1vh;
        font-size: 4vh;
    }
}
